@model BrowseBook.Models.Book

@{
    ViewData["Title"] = "Details";
}

<h4 class="PageTitle">View Staff Details</h4>
<hr />
<fieldset class="FormContent">
    <div class="form-group row">
        <label asp-for="Isbn"
               class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
            @Html.Display("Isbn")
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Name" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
            @Html.Display("Name")
        </div>
      
    </div>
    <div class="form-group row">
        <label asp-for="Photo" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <img src="~/images/@Model.Photo" />
           
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Category" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
            @Html.Display("Category")
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Author" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
            @Html.Display("Author")
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Description" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
            @Html.Display("Description")
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="IsAvail" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
            @Html.Display("IsAvail")
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-9 offset-sm-3">
            
            <a asp-action="Index"
               asp-controller="Home">Back to List</a>
        </div>
    </div>
</fieldset>